<div class="footer-content pt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3 my-3">
        <div class="list">
          <h4>FASHION</h4>
          <p>Sfax ,Skhira 3050</p>
          <p>(+216)21532424</p>
          <p><a>oussamalabiadh111@gmail.Com</a></p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 my-3">
        <div class="list">
          <h6>FIND IT FAST</h6>
          <ul>
            <li>Search</li>
            <li>Contact Us</li>
            <li>FAQ`s</li>
            <li>Gallery</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 my-3">
        <div class="list">
          <h6>INFORMATION</h6>
          <ul>
            <li>Latest News</li>
            <li>Privacy Policy</li>
            <li>Terms And Conditions</li>
            <li>Delivery Information</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 my-3">
        <div class="list">
          <h6>SUBSCRIBE NOW</h6>
          <p>You May Unsubscribe At Any Moment. Please Find Our Contact Info</p>
          <input type="email" placeholder="Your Email">
          <ul class="d-flex links ">
            <li><span><i class="fa-brands fa-facebook"></i></span></li>
            <li><span><i class="fa-brands fa-instagram"></i></span></li>
            <li><span><i class="fa-brands fa-twitter"></i></span></li>
            <li><span><i class="fa-brands fa-pinterest"></i></span></li>
            <li><span><i class="fa-brands fa-youtube"></i></span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <p class="mb-0">© 2023, Poveria-Demo Powered <i class="fa-solid fa-heart fa-beat" style="color: #ff0000;"></i> By Oussama Labiadh</p>
    </div>
  </div>
</div>
